<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="www.cognizant.com" class="navbar-brand">Cognizant</a></div>&nbsp;&nbsp;
  <ul class="navbar-nav">
    <!--replace with routerLink instead of so that page will not be refreshed every time-->
  <li><a  routerLink="/sucess/Ravi" class="navbar-link">HOME</a></li>&nbsp; &nbsp;
  <li><a  routerLink="/listOfFlight" class="navbar-link">Flight INFO</a></li>&nbsp; &nbsp;
  </ul>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a  routerLink="/login" class="navbar-link">Login</a></li>&nbsp; &nbsp;
    <li><a  routerLink="/logout" class="navbar-link">Logout</a></li>&nbsp; &nbsp;
   </ul>
   </nav>
  </header>